<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ArtOfWords.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ArtOfWords.Properties.Settings>
            <setting name="SavedFolderPath" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="LastSavedFilePath" serializeAs="String">
                <value>Novels\マニュアル.kieAow</value>
            </setting>
            <setting name="TextBoxFontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="TextBoxFontFamily" serializeAs="String">
                <value>メイリオ</value>
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextBoxFontColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TextBoxBackgroundColor" serializeAs="String">
                <value>#FFFFFAF0</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0,0,1000,800</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </ArtOfWords.Properties.Settings>
    </userSettings>
</configuration>
